<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <h1>Create a new list!</h1>
</div>

<div class="container mt-2">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Submit', class:"text-decoration-none btn btn-secondary"  %>
  <% end %>
</div>
